body {
  margin: 0;
  color: beige;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer{
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  position:absolute;
left:0;
bottom:0;
right:0;
  width: 100%;
  border-top: solid;
  border-color: #ddd;
}
