body {
  margin: 0;
  display: grid;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.footer{
  padding: 1rem;
  background-color: #212529;
  position:static;
  border-top: solid;
  border-color: gray;
}

.Login {
  padding: 60px 0;
  color: aliceblue;
}

.Login form {
  margin: 0 auto;
  max-width: 320px;
}

