.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-weight: bold;
  font-size: 5rem;
  color: white;
}

.subtitle {
  font-weight: bold;
  font-size: 4rem;
  color: rgb(189, 129, 38);
}

.goDown {
  color: #FF5F1F;
}

.container {
  text-align: center;
}

.colorText {
    color: #FF5F1F;
  }
